<!DOCTYPE 
<html>
<head>
<style>

a{
  text-decoration: none;
}

 body { background: #1C1C1C !important; }

p.center-justified{
  width: 300px;
  
  text-align: justify;
  -moz-text-align-last: center;
    text-align-last: center;
}
a:hover {
  text-shadow: 2px 2px 4px #888888;
}

</style>
</head>

<body bgcolor = "#1C1C1C" !important>

<font face="century gothic" color="#FFFFF">

<font face="ar decode" color="#4B4B4B" size="7"><h1 align="center">About Us</h1></font>     

<p>Classic Auto is a family owned auto body repair shop in the Silicon Valley. Our auto body shop was created with the customers in mind and we specialize in repairing their car problems.We understand the distinct challenges presented when having car issues therefore our philosophy to make everyone’s dream car a reality.
</p>

</font>
</body>
</html>
