<!DOCTYPE html>
<html>
<head>
<style>

div.text{
    font-family: "Harlow Solid Italic";
    padding-top:5px; 
    text-align: center;
    font-size: 90px;
    font-weight: bolder;
    color: #000;
    right:50%;
    top:50%;
    -webkit-animation: fadein 5s;
    text-shadow: 2px 2px 4px #888888;
}

body {
    background: url(http://i.imgur.com/YabWLiU.jpg?1);
    width:1330px;
    height:768px;
    background-position: center; 
}

a.button{
     border: 0.5px solid;
     background-color: #4CAF50;
    padding: 15px 32px;
    border-radius: 25px;
    border-color: #4CAF50
    text-align: center;
    text-decoration: none;
    color: white;
    position:absolute;
    right:45%;
    top:50%;
    opacity: 0.8;
}

a:hover {
   box-shadow: 3px 5px 3px #888888;
   text-shadow: 2px 2px 4px #888888;
   opacity: 1;
}

k { image-align: center }

</style>
</head>
<body>
    <div class = "text"><p><font face="Harlow Solid" font size = "7">Classic Auto Services</font></p></div>
    <a href="http://localhost:3000/pages/services" class="button">Services</a>


</body>
</html>