<!DOCTYPE html>
<html>
<head>
<style>


   body { background: #1C1C1C !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */


a{
  text-decoration: none !important;
}

a:hover {
  text-shadow: 2px 2px 4px #888888;
}

p.center-justified{
  width: 400px;
    height: 100px;
  text-align: justify;
  -moz-text-align-last: center;
    text-align-last: center;
}

</style>
</head>

<body bgcolor = "#1C1C1C">

<font face="century gothic" color="#959595">

<font face="ar decode" color="#4B4B4B" size="7"><h1 align="center">Classic Auto Services</h1></font>
  <p>At Classic Auto in San Jose, California, our talented and skilled technicians have over 100+ years of combined experience to repair your vehicle looking and running like it just came off the lot! </p>

<a href=""><font face="ar bonnie" color="#FFFFF" size="6"><h3 align="center">Collision Repair </h3></font></a>
  <p>Classic Auto has been the first choice in all of Silicon Valley auto body shops for the last 20 years. We specialize in collision repair and complete body repair. Classic Auto is equipped with the newest equipment to repair any and all types of cosmetic damages. </p>

<a href=""><font face="ar bonnie" color="#FFFFF" size="6"><h3 align="center">Paint Shop</h3></font></a>
  <p>Classic Auto have both the experience and knowledge to ensure your vehicle is returned looking good as new. We promise to have a color matching paint job, if not, we will do it again for FREE. </p>

      

<a href=""><font face="ar bonnie" color="#FFFFF" size="6"><h3 align="center">Warranty</h3></font></a>
  <p>All labor done by Classic Auto remains under warranty for as long as you are the original owner.</p>

<a href=""><font face="ar bonnie" color="#FFFFF" size="6"><h3 align="center">Rental Car and Shuttle Services</h3></font></a>
  <p>We want to ensure your satisfaction. In doing so, we will arrange transportation for you. We work closely with rental car agencies to ensure you have transportation while we care for your car. If you are not in need of a rental car, we offer free local shuttle services within a 3 mile radius. </p>
      

</body>
</html>